<section class="mt-4" th:fragment="delivery">
    <div class="container text-center py-4">
        <h4 class="mb-0 text-red"><strong>CHÍNH SÁCH GIAO HÀNG</strong></h4>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-8 mb-3 py-2" style="line-height: 1.5; font-size: 1rem;">
            <h5><strong>Mua Hàng:</strong></h5>
            <p>&emsp;- Quý khách hàng có thể đặt hàng trực tiếp trên website.<br/>
                &emsp;- Đến trực tiếp công ty hoặc gọi hotline: <strong><a class="text-red px-0 mx-0" href="tel:0966 28 38 99">0966 28 38 99</a></strong></p>
            <h5><strong>Thời gian giao hàng:</strong></h5>
            <p>
                &emsp;- Đơn hàng của quý khách sẽ được giao trong khoảng thời thời từ 1:00 khuya đến 4:00 chiều.<br/>
                &emsp;- Trường hợp lần đầu giao hàng không thành công,  nhân viên liên hệ để sắp xếp lịch giao hàng với quý khách lần 2<br/>
                &emsp;- Trong trường hợp vẫn không thể liên lạc lại được hoặc không nhận được bất kì phản hồi nào từ phía quý khách, đơn hàng sẽ không còn hiệu lực.
            </p>
            <h5><strong>Phí giao hàng:</strong></h5>
            <p>
                &emsp; Chúng tôi sẽ áp dụng hình thức Freeship cho những đơn hàng từ 1 triệu trở lên đối với khu vực: Q.1, Q3, Bình Thạnh, Phú Nhuận
            </p>
        </div>
        <div class="col-md-6 col-lg-4 mb-3 bg-light py-2" style="line-height: 1.5; font-size: 1rem;">
            <h5 class="text-red"><strong>Tài khoản công ty:</strong></h5>
            <strong>Ngân Hàng TMCP Đông Á – PGD Xuân Thới Thượng, Hóc Môn</strong>
            <p>Số TK: 0157 8038 0001</p>
            <h5 class="text-red"><strong>TK cá nhân:</strong></h5>
            <strong>Ngân hàng TMCP Đông Á – PGD Xuân Thới Thượng, Hóc Môn</strong>
            <p>Chủ TK: Vương Quốc Đạt<br/>
                Số TK: 0110 286 732
            </p>
            <strong>Ngân hàng TMCP Á Châu – PGD Tô Ký, Quận 12</strong>
            <p>Chủ TK: Vương Quốc Đạt<br/>
                Số TK: 145 055 489
            </p>
        </div>
    </div>
</section>