<footer class="bg-light text-center text-dark" th:fragment="footer">
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <div class="row" style="font-size: 0.8rem;">
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h6 class="text-uppercase" style="text-align: left;">Thông tin liên
                    hệ</h6>
                <div class="dropdown-divider"></div>
                <ul class="list-unstyled mb-0" style="text-align: left;">
                    <li>
                        <strong>CÔNG TY TY TNHH SX & TM PHÚC LONG</strong>
                    </li>
                    <li>
                        VPĐD: 5/29 đường ĐHT 42, phường Tân Hưng Thuận, quận 12, TP.HCM <br>
                        Điện thoại: <a href="tel:028 6682 1866" class="text-red px-0 mx-0">028
                        6682
                        1866</a><br/>
                        Hotline: <a class="text-red px-0 mx-0" href="tel:0966 28 38 99">0966 28 38 99</a>

                        <address style="margin-bottom: 0;">Email:
                            <a class="text-red px-0 mx-0"
                               href="mailto:kinhdoanhphuclong@gmail.com">kinhdoanhphuclong@gmail.com</a>
                        </address>
                        Website: <a class="text-red px-0 mx-0"
                                    href="https://www.lichtetphuclong.com">www.lichgodep.vn</a><br>
                    </li>
                    <li>
                        <a href="http://online.gov.vn/Home/WebDetails/70580" target="_blank"><span
                                style="font-size: 12pt; font-family: 'times new roman', times, serif;"><img
                                th:src="@{/images/logos/bo-cong-thuong.png}" alt="" width="150"
                                height="60">&nbsp;</span></a>
                    </li>
                </ul>
            </div>

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h6 class="text-uppercase" style="text-align: left;">Chính Sách</h6>
                <div class="dropdown-divider"></div>
                <ul class="list-unstyled mb-0 " style="text-align: left;">
                    <li>
                        <a th:href="@{'/chinh-sach/giao-hang'}" class="text-dark">Chính sách giao hàng</a>
                    </li>
                    <li>
                        <a th:href="@{'/chinh-sach/mua-hang-va-thanh-toan'}" class="text-dark">Mua hàng và thanh
                            toán</a>
                    </li>
                    <li>
                        <a th:href="@{'/chinh-sach/doi-tra-hang'}" class="text-dark">Chính sách đổi trả hàng</a>
                    </li>
                    <li>
                        <a th:href="@{'/chinh-sach/bao-mat-thong-tin'}" class="text-dark ">Chính sách bảo mật thông
                            tin</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h6 class="text-uppercase" style="text-align: left;">Bản đồ</h6>
                <div class="dropdown-divider"></div>
                <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.638810283672!2d106.62848261532517!3d10.838928492279127!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752bf46b2b9155%3A0x41eebf2ec4fbac28!2zTOG7i2NoIHThur90IFBow7pjIExvbmcgLSBpbiBs4buLY2ggdOG6v3QgMjAyMSwgaW4gbOG7i2NoIHThur90IGdpw6EgcuG6uw!5e0!3m2!1svi!2s!4v1618463198761!5m2!1svi!2s"
                        width="100%" height="85%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h6 class="text-uppercase" style="text-align: left;">Facebook</h6>
                <div class="dropdown-divider"></div>
                <div class="fb-page" data-href="https://www.facebook.com/lichtetphuclong"
                     data-tabs="timeline" data-width=""
                     data-height="220" data-small-header="true" data-adapt-container-width="true"
                     data-hide-cover="false"
                     data-show-facepile="true">
                    <blockquote cite="https://www.facebook.com/lichtetphuclong" class="fb-xfbml-parse-ignore"><a
                            href="https://www.facebook.com/lichtetphuclong">IN LỊCH TẾT ĐẸP -
                        lichtetphuclong.com</a>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Copyright: ©2021
        | This website is made by
        <a href="https://fb.com/7.quanghan.7" class="px-0" style="color: black;">Nguyen Quang Han</a>
        </a>
        <div class="mb-copyright"></div>
    </div>
</footer>