<section class="mt-4" th:fragment="information_security">
    <div class="container text-center py-4">
        <h4 class="mb-0 text-red"><strong>CHÍNH SÁCH BẢO MẬT THÔNG TIN</strong></h4>
    </div>

    <div class="row">
        <div class="col-md-6 col-lg-12 py-2" style="line-height: 1.5; font-size: 1rem;">
            <h5><strong>1. Mục đích và phạm vi thu thập thông tin</strong></h5>
            <p>
                <strong class="text-red">Lichgodep.vn</strong> không bán, chia sẻ hay trao đổi thông tin cá nhân của
                khách hàng thu thập
                trên trang web cho một bên thứ ba nào khác.<br/>
                Thông tin cá nhân thu thập được sẽ chỉ được sử dụng trong nội bộ công ty.<br/>
                Khi bạn liên hệ đăng ký dịch vụ, thông tin cá nhân mà <strong class="text-red">lichgodep.vn</strong> thu
                thập bao gồm:<br/>
                &emsp; + Họ và tên<br/>
                &emsp; + Địa chỉ<br/>
                &emsp; + Điện thoại<br/>
                &emsp; + Email<br/>
                Ngoài thông tin cá nhân là các thông tin về dịch vụ<br/>
                &emsp; + Tên sản phẩm<br/>
                &emsp; + Số lượng<br/>
                &emsp; + Thời gian giao nhận sản phẩm<br/>
            </p>
            <h5><strong>2. Phạm vi sử dụng thông tin</strong></h5>
            <p>
                Thông tin cá nhân thu thập được sẽ chỉ được lichgodep.vn sử dụng trong nội bộ công ty và cho một hoặc
                tất cả các mục đích sau đây:<br/>
                &emsp; - Hỗ trợ khách hàng<br/>
                &emsp; - Cung cấp thông tin liên quan đến dịch vụ<br/>
                &emsp; - Xử lý đơn đặt hàng và cung cấp dịch vụ và thông tin qua trang web của chúng tôi theo yêu cầu
                của bạn<br/>
                &emsp; - Chúng tôi có thể sẽ gửi thông tin sản phẩm, dịch vụ mới, thông tin về các sự kiện sắp tới hoặc
                thông tin tuyển dụng nếu quý khách đăng kí nhận email thông báo.<br/>
                &emsp; - Ngoài ra, chúng tôi sẽ sử dụng thông tin bạn cung cấp để hỗ trợ quản lý tài khoản khách hàng;
                xác nhận và thực hiện các giao dịch tài chính liên quan đến các khoản thanh toán trực tuyến của bạn<br/>
            </p>

            <h5><strong>3. Thời gian lưu trữ thông tin</strong></h5>
            <address style="margin-bottom: 0;">Đối với thông tin cá nhân, lichgodep.vn chỉ xóa đi dữ liệu này nếu khách
                hàng có yêu cầu, khách hàng yêu cầu gửi mail về:
                <a class="text-red px-0 mx-0"
                   href="mailto:kinhdoanhphuclong@gmail.com">kinhdoanhphuclong@gmail.com</a>
            </address><br/>

            <h5><strong>4. Những người hoặc tổ chức có thể được tiếp cận với thông tin cá nhân</strong></h5>
            <p>
                Đối tượng được tiếp cận với thông tin cá nhân của khách hàng thuộc một trong những trường hợp sau:<br/>
                &emsp;– <strong>CÔNG TY TNHH SX VÀ TM PHÚC LONG</strong><br/>
                &emsp;– Các đối tác có ký hợp động thực hiện 1 phần dịch vụ do <strong>CÔNG TY TNHH SX VÀ TM PHÚC
                LONG</strong>. Các đối
                tác này sẽ nhận được những thông tin theo thỏa thuận hợp đồng (có thể 1phần hoặc toàn bộ thông tin tuy
                theo điều khoản hợp đồng) để tiến hành hỗ trợ người dùng sử dụng dịch vụ do Công ty cung cấp.
            </p>

            <h5><strong>5. Địa chỉ của đơn vị thu thập và quản lý thông tin cá nhân</strong></h5>
            <div class="bg-light py-2 mb-2">
                &emsp;- VPĐD: 5/29 đường ĐHT 42, phường Tân Hưng Thuận, quận 12, TP.HCM <br>
                &emsp;- Điện thoại: <a href="tel:028 6682 1866" class="text-red px-0 mx-0">028
                6682
                1866</a><br/>
                &emsp;- Hotline: <a class="text-red px-0 mx-0" href="tel:0966 28 38 99">0966 28 38 99</a><br/>
                <address style="margin-bottom: 0;">&emsp;- Email:
                    <a class="text-red px-0 mx-0"
                       href="mailto:kinhdoanhphuclong@gmail.com">kinhdoanhphuclong@gmail.com</a>
                </address>
                &emsp;- Website: <a class="text-red px-0 mx-0"
                              href="https://www.lichtetphuclong.com">www.lichgodep.vn</a><br>
            </div>

            <h5><strong>6. Phương tiện và công cụ để người dùng tiếp cận và chỉnh sửa dữ liệu cá nhân của mình</strong>
            </h5>
            </h5>
            <p>
                <strong class="text-red">Lichgodep.vn</strong> không thu thập thông tin khách hàng qua trang web, thông
                tin cá nhân khách
                hàng được thực
                hiện thu thập qua email liên hệ đặt mua sản phẩm, dịch vụ gửi về hộp mail của chúng tôi:
                <a class="text-red px-0 mx-0"
                   href="mailto:kinhdoanhphuclong@gmail.com">kinhdoanhphuclong@gmail.com</a> hoặc số điện thoại liên hệ
                đặt mua sản phẩm gọi về <a class="text-red px-0 mx-0" href="tel:0966 28 38 99">0966 28 38 99</a><br/>
                Bạn có thể liên hệ địa chỉ email cùng số điện thoại trên để yêu cầu <strong class="text-red">lichgodep.vn</strong>
                chỉnh
                sửa dữ liệu cá nhân của mình.
            </p>

            <h5><strong>7. Cơ chế tiếp nhận và giải quyết khiếu nại của người tiêu dùng liên quan đến việc thông tin cá
                nhân bị sử dụng sai mục đích hoặc phạm vi đã thông báo.</strong></h5>
            <p>
                Tại <strong class="text-red">lichgodep.vn</strong>, việc bảo vệ thông tin cá nhân của bạn là rất quan
                trọng, bạn được đảm bảo rằng thông
                tin cung cấp cho chúng tôi sẽ được mật lichgodep.vn cam kết không chia sẻ, bán hoặc cho thuê thông tin
                cá nhân của bạn cho bất kỳ người nào khác. <strong class="text-red">Lichgodep.vn</strong> cam kết chỉ sử
                dụng các thông tin của bạn vào
                các trường hợp sau:<br/>
                &emsp; - Nâng cao chất lượng dịch vụ dành cho khách hàng<br>
                &emsp; - Giải quyết các tranh chấp, khiếu nại<br>
                &emsp; - Khi cơ quan pháp luật có yêu cầu.<br>
                <strong class="text-red">Lichgodep.vn</strong> hiểu rằng quyền lợi của bạn trong việc bảo vệ thông tin
                cá nhân cũng chính là trách nhiệm
                của chúng tôi nên trong bất kỳ trường hợp có thắc mắc, góp ý nào liên quan đến chính sách bảo mật của
                <strong class="text-red">lichgodep.vn</strong> và liên quan đến việc thông tin cá nhân bị sử dụng sai
                mục đích hoặc phạm vi đã thông báo
                vui lòng liên hệ qua số hotline <a class="text-red px-0 mx-0" href="tel:0966 28 38 99">0966 28 38 99</a>
                hoặc email: <a class="text-red px-0 mx-0"
                               href="mailto:kinhdoanhphuclong@gmail.com">kinhdoanhphuclong@gmail.com</a>
            </p>
        </div>
    </div>

</section>