<section class="mt-4" th:fragment="purchase_payment">
    <div class="container text-center py-4">
        <h4 class="mb-0 text-red"><strong>MUA HÀNG VÀ THANH TOÁN</strong></h4>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-12 py-2" style="line-height: 1.5; font-size: 1rem;">
            <h5><strong>Hình thức đặt hàng:</strong></h5>
            <p>
                <strong>1. Đến trực tiếp công ty hoặc đặt hàng qua điện thoại, Zalo:</strong><br/>
                &emsp;Hotline: <a class="text-red px-0" href="tel:0966 28 38 99">0966 28 38 99</a><br/>
            </p>
            <p>
                <strong>2. Đặt hàng qua website:</strong>
                <a class="text-red px-0" href="https://www.lichtetphuclong.com">www.lichgodep.vn</a><br/>
                &emsp;Quý khách có thể đặt trực tiếp tại địa chỉ website của chúng tôi. Sau khi nhận được thông tin,
                nhân viên sẽ gọi điện tư vấn thêm và gửi hàng cho Quý khách.<br/>
            </p>
            <p>
                <strong>3. Đặt hàng qua email:</strong><br/>
                &emsp;Khách hàng có thể gửi yêu cầu về địa chỉ email:
                <a class="text-red px-0" href="mailto:kinhdoanhphuclong@gmail.com">kinhdoanhphuclong@gmail.com</a><br/>
            </p>
            <strong>4. Đặt hàng qua Facebook:</strong><br/>
            &emsp;Khách hàng có thể trao đổi trực tiếp với chúng tôi thông qua
            <strong><a class="text-red px-0" href="https://www.facebook.com/lichtetphuclong">fanpage Facebook</a></strong>,
            chúng tôi sẽ hỗ trợ quý khách trong thời gian sớm nhất.<br/>
            </p>
        </div>
        <div class="col-md-6 col-lg-8 mb-2 py-2" style="line-height: 1.5; font-size: 1rem;">
            <h5><strong>Hình thức thanh toán:</strong></h5>
            <p>
                <strong>1. Thanh toán tiền mặt</strong><br/>
                &emsp;- Áp dụng hình thức thu tiền mặt (do nhân viên giao hàng thu) tại các địa điểm chúng tôi có thể
                giao hàng tới thuộc phạm vi TP.HCM hoặc thanh toán trực tiếp tại quầy thu ngân của công ty.<br/>
                &emsp;- Trường hợp địa điểm giao hàng là <strong>ngoại thành, ngoại tỉnh</strong>, nội thành TP.HCM
                nhưng <strong> khác địa điểm thanh toán</strong>, chúng tôi sẽ thu tiền trước <strong>100% giá trị hàng
                + phí vận chuyển</strong> theo cước phí thoả thuận.
            </p>
            <p>
                <strong>2. Thanh toán chuyển khoản</strong><br/>
                &emsp;- Áp dụng cho ngoại thành TP.HCM và các tỉnh thành khác, đơn vị thụ hưởng được thông tin phía bên
                dưới.
            </p>

        </div>
        <div class="col-md-6 col-lg-4 mb-2 bg-light py-2" style="line-height: 1.5; font-size: 1rem;">
            <h5 class="text-red"><strong>Tài khoản công ty:</strong></h5>
            <strong>Ngân Hàng TMCP Đông Á – PGD Xuân Thới Thượng, Hóc Môn</strong>
            <p>Số TK: 0157 8038 0001</p>
            <h5 class="text-red"><strong>TK cá nhân:</strong></h5>
            <strong>Ngân hàng TMCP Đông Á – PGD Xuân Thới Thượng, Hóc Môn</strong>
            <p>Chủ TK: Vương Quốc Đạt<br/>
                Số TK: 0110 286 732
            </p>
            <strong>Ngân hàng TMCP Á Châu – PGD Tô Ký, Quận 12</strong>
            <p>Chủ TK: Vương Quốc Đạt<br/>
                Số TK: 145 055 489
            </p>
        </div>
        <div class="promotion mb-3 py-2" style="font-weight: 400;">
            <strong style="text-decoration: underline; font-style: italic;">Lưu ý:</strong><br>
            &emsp;- Khách hàng đặt hàng tại tỉnh xa vui lòng cung cấp đầy đủ thông tin & thêm số điện thoại di động.
            Khách hàng tỉnh phải thanh toán trước khi giao hàng hoặc dịch vụ đặt hàng COD.<br/>
            &emsp;- Vui lòng kiểm tra hàng hoá và kí nhận đã nhận đủ hàng khi thanh toán.<br/>
            &emsp;- Nếu có nhu cầu xuất hoá đơn, vui lòng thông tin trước cho bộ phận đặt hàng để gửi kèm hoá đơn.
        </div>
    </div>
</section>