<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
    <link rel="stylesheet"
          th:href="@{/36e64f19f57a05c8cd5b6bf7eff72703b4bbab19def7832eb4e686e7fa482eef/c3c9b728b0023bd6e21f58dfdd98c271cd04da9f0bdd8d51a1a8a25fa55443f5.css}">
    <link rel="shortcut icon" th:href="@{/images/logos/favicon.ico}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <title>Lịch Gỗ Phù Điêu Cao Cấp - Chiết khấu CỰC CAO, CAM KẾT RẺ NHẤT</title>
</head>
<body>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v10.0&appId=272669024584617&autoLogAppEvents=1"
        nonce="7aa8Vy1o"></script>
<!-- Top header -->
<div class="top-header">
    <p id="top-header-p">Để hỗ trợ nhanh nhất: &nbsp;<i class="fa fa-phone"></i> 0966 28 38 99</p>
</div>
<!-- nav bar -->
<nav th:replace="fragments/navbar"></nav>

<div class="container">
    <section th:replace="'fragments/' + ${chinhSach}"></section>
</div>


<!-- Footer -->
<footer th:replace="fragments/footer"></footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script th:src="@{/16cedf80ade01c62bdd1ae931d0492330c0b62bf294c08c095ce2fab21a9298d/248806862391c77740e9c2e7a0d2e7a7fad14e07f686f8551ec9767c3d737bda.js}"
        crossorigin="anonymous"></script>

</body>
</html>